body, html {
    margin: 0;
    padding: 0;
}

/*video {*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*transform: translate(-50%, -50%);*/
/*min-width: 100%;*/
/*min-height: 100%;*/
/*width: auto;*/
/*height: auto;*/
/*z-index: 1;*/
/*}*/


video {
    z-index: -1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 600px;
    overflow: hidden;
    min-width: 100%;
    width: auto;
    min-width: 1045px;
}

video {
    display: inline-block;
}

.text {
    z-index: 2;
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}